.top {
display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.top__search {
	margin-right: 20px;
}
.top__input,
.custom {

	height: 40px;
	padding: 14px 0;
	text-align: center;
	font-size: 16px;
	line-height: 11px;
	
	border: 1px solid rgba(34,62,105,.1);
	outline: 0;
	opacity: 0.7;

}
.top__input {
	width: 240px;
	border-radius: $border-radius;
	-webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	-ms-border-radius: $border-radius;
	-o-border-radius: $border-radius;
}
.top__input:focus {
	box-shadow:	0 3px 7px 0 rgba(33,33,33,.2);
}
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0); /* IE6, IE7 */
	clip: rect(0x, 0, 0, 0);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}
.top__model label {
	font-size: 0;
	cursor: pointer;
}

.custom {
margin: 0;
	width: 105px;
	display: inline-block;
	line-height: 9px;
	text-align: center;
	opacity: 0.5;
}

input:checked+span {
	opacity: 1;
}
.custom--l {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
.custom--r {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.top__btns {
	margin-left: auto;
	display: flex;

}
.btn {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 40px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	border-radius: $border-radius;
	padding: 0 20px;
	border: 1px solid transparent;
	-webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	-ms-border-radius: $border-radius;
	-o-border-radius: $border-radius;
}
.btn--down {
   margin-right: 20px;
    border: 1px solid #223e69;
}
.btn--down:hover {
	box-shadow: 0 3px 7px 0 rgba(34, 62, 105,.3);
}
.btn--add {
	color: #fff;
	background: $btn-color;
	box-shadow: 0 3px 7px 0 rgba(252,57,105,.3);

}
.btn--add:hover {
	box-shadow: none;
	color: $btn-color;
	border: 1px solid $btn-color;
	background: #fff;
	box-sizing: border-box;

}
.top__status {
	width: 100%;
	background: $top-color-light;
	mix-blend-mode: normal;
height: 40px;
	border-radius: $border-radius;
	margin: 30px 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	-webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	-ms-border-radius: $border-radius;
	-o-border-radius: $border-radius;
}
.top-status__info {
height: 18px;
width: 81px;
	background: #fff;
	position: relative;
	display: flex;
	font-size: 12px;
	line-height: 18px;
}

.top-status__info span {
	font-size: 12px;
line-height: 8px;
}
.status__percent {
	padding-left: 3px;
	width: 45%;
	background: $top-color;
}

.top-status__descr {
line-height: 9px;
mix-blend-mode: normal;
opacity: 0.5;
margin: 0 0 0 49px;
position: relative;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
display: flex;
justify-content: center;
align-items: center;
}

.top-status__descr::before {
	content: '!';
	position: absolute;
	left: -25px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 14px;
	width: 14px;
	/* margin: 0 10px 0 0; */
	font-size: 10px;
	line-height: 14px;
	border: 1px solid #11223e;
	border-radius: 50%;
	width: 14px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
@media (max-width: 1050px) {
	.main {
		width: 98%;
	}
	.top {
		justify-content: center;
	}
	.top__btns {
		margin-top: 30px;
		margin-right: auto;
	}
}
@media (max-width: 767px) {
	.main {
		padding: 20px;
	}
}