<div class="top">
		<div class="top__search">
				<input type="search" class="top__input" placeholder="Поиск по запросу">
		</div>
		<div class="top__model">
				<label>
						<input class="visually-hidden" type="radio" name="radio" checked>
						<span class="custom custom--l custom--deco">iPhone/iPod</span>
					</label>
					<label>
							<input class="visually-hidden" name="radio" type="radio">
							<span class="custom custom--r custom--deco">iPad</span>

						</label>
		</div>
		<div class="top__btns btn__wrapp">
				<a href="#" class="btn btn__top btn--down">Скачать .CSV</a>
				<a href="#" class="btn btn__top btn--add">Добавить запрос</a>
		</div>
		<div class="top__status top-status">
				<div class="top-status__info">
					<div class="status__percent">45% в</div> <div> ТОП-3</div>
				</div>

				<p class="top-status__descr"><span>Вы недополучаете&nbsp;</span> <span class="status__install"> 450&nbsp; </span> <span>инсталлов в день</span></p>

			</div>
	</div>