//colors
$primary-color: #11223E;;
$back-color-plus: #FAFFEE;
$back-color-minus: #FFF6F6;
$back-color:#75B926;
$btn-color:#FC3969;
$top-color: #F8E71C;
$top-color-light: rgba(248, 231, 28,.15);
$border-color: rgba(17, 34, 62,0.2);

// fonts
$font-harmonia: 'Harmonia', sans-serif;
$font-harmoniaBold: 'Harmonia-SemiBd', sans-serif;

//font-size
$font-size: 14px;

$border-radius: 5px;